div {
	box-sizing: border-box;
}

.navigasi{
	text-align: center;
}
.satu {
	height: 30px;
	width: 25%;
	background-color: lightpink;
	border: 5px solid blue;
	display: inline-block;
	
}

.dua {
	height: 30px;
	width: 25%;
	background-color: lightblue;
	border: 5px solid red;
	display: inline-block;
}

.tiga {
	height: 30px;
	width: 25%;
	background-color: lightpink;
	border: 5px solid blue;
	display: inline-block;
}

.empat {
	height: 30px;
	width: 25%;
	background-color: lightblue;
	border: 5px solid red;
	display: inline-block;
}

.isi {
	overflow: auto;
}

.lima {
	height: 500px;
	width: 25%;
	background-color: lightgreen;
	border: 5px solid navajowhite;
	float: left;
}

.lima li {
	list-style: none;
}

.lima h1 {
	text-align: center;
}
.enam {
	height: 500px;
	width: 75%;
	background-color: navajowhite;
	border: 5px solid lightgreen;
	float: left;
}

.enam p {
	padding: 0px 25px;
}

.enam h1 {
	text-align: center;
}

.contoh {
	border:  3px solid black;
	margin:  auto;
	width: 300px;
	background-color: ghostwhite;
}

.tujuh {
	height: 250px;
	width: 100%;
	background-color: lightslategrey;
	border: 5px dashed lightcyan;
}

.judul {
	padding-top: 15px;
	color: white;
	text-align: center;
	font-size: 50px;
}

.bungkus {
	height: 250px;
	width: 100%;
	background-color: lightslategrey;
	border: 5px dashed lightcyan;
}

.delapan {
	height: 150px;
	width: 30%;
	background-color: red;
	border: 5px solid white;
	display: inline-block;
	margin-top: 50px;
	margin-left: 30px;
	color: white;
	text-align: center;
	line-height: 100px;
}

.sembilan {
	height: 150px;
	width: 30%;
	background-color: yellow;
	border: 5px solid white;
	display: inline-block;
	margin-left: 30px;
	color: white;
	text-align: center;
	line-height: 100px;
}

.sepuluh {
	height: 150px;
	width: 30%;
	background-color: green;
	border: 5px solid white;
	display: inline-block;
	margin-left: 30px;
	color: white;
	text-align: center;
	line-height: 100px;

}
